[user]
  name = sissyaboo
  email = a@sissyaboo.com
	signingkey = BB84F41BF8280D8E
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesfile = ~/.dotfiles/.gitignore
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
