[user]
  name = Sissy Aboo
  email = a@sissyaboo.com
	signingkey = ~/.ssh/sign.pub
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesfile = ~/.dotfiles/.gitignore
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
